<% include partials/header %>
<header>
        <h1>2017 NFC Leaders</h1>
    </header>
<div class="ui container">
    
    <div class="ui stackable grid">
        <div class="five wide column">
            <aside>
                <h2>Filter by:</h2>
                <div class="ui sub header">Team</div>
                <select class="ui fluid search dropdown" id="team-filter" name="teams">
                <option value="all">All teams</option>
                <% teams.forEach(function(team){ %>
                    <option value="<%=team._id%>"><%=team.city%>&nbsp;<%=team.name%></option> 
                <% });%>
                </select>
                <div id="position-filter" class="ui form">
                    <div class="grouped fields">
                        <label for="position">Position</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" checked value="all" tabindex="0" class="hidden">
                                <label>ALL</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" value="QB" tabindex="0" class="hidden">
                                <label>QB</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" value="RB" tabindex="0" class="hidden">
                                <label>RB</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" value="WR" tabindex="0" class="hidden">
                                <label>WR</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" value="TE" tabindex="0" class="hidden">
                                <label>TE</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="probowl-filter"class="ui toggle checkbox">
                    <input type="checkbox" name="proBowl">
                    <label>PRO BOWL</label>
                </div>
            </aside>
        </div>
        <div class="eleven wide column">
            <main id="team-list">
                <% teams.forEach(function(team){ %>
                    <% players.forEach(function(player){ %>
                        <% if(team._id === player.team_id) { %>
                            <div class="player-card <%=player.team_id%>">
                                <div class="player-card-header">
                                    <h2><%=player.firstName%>&nbsp;<%=player.lastName%><small>&nbsp;&mdash;&nbsp;<%=player.position%></small></h2>
                                </div>
                                <div class="player-card-stripe"></div>
                                <div class="player-card-body">
                                    <img class="player-card-image" src="img/players/<%=player.firstName.toLowerCase()%><%=player.lastName.toLowerCase()%>.png" alt="player photo">
                                    <div class="logos">
                                        <img class="player-card-team" src="img/teams/<%=team._id%>.gif" alt="team photo">
                                    </div>
                                    <div class="yards">
                                        <div class="stat-block">
                                            <h4 class="stat-block-label">
                                            <% if(player.position === 'QB') { %>
                                                Passing Yards
                                            <% } else if(player.position === 'RB') { %>
                                                Rushing Yards
                                            <% } else { %>
                                                Recieving Yards
                                            <% } %>
                                            </h4>
                                            <h5 class="stat-block-data">
                                                <% if(player.position === 'QB') { %>
                                                    <%= player.passYds.toLocaleString() %>
                                                <% } else if(player.position === 'RB') { %>
                                                    <%= player.rushYds.toLocaleString() %>
                                                <% } else { %>
                                                    <%= player.recYds.toLocaleString() %>
                                                <% } %>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="tds">
                                        <div class="stat-block">
                                            <h4 class="stat-block-label">
                                                <% if(player.position === 'QB') { %>
                                                    Passing TD's
                                                <% } else if(player.position === 'RB') { %>
                                                    Rushing TD's
                                                <% } else { %>
                                                    Recieving TD's
                                                <% } %>
                                            </h4>
                                            <h5 class="stat-block-data">
                                                <% if(player.position === 'QB') { %>
                                                    <%= player.passTds.toLocaleString() %>
                                                <% } else if(player.position === 'RB') { %>
                                                    <%= player.rushTds.toLocaleString() %>
                                                <% } else { %>
                                                    <%= player.recTds.toLocaleString() %>
                                                <% } %>

                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="player-card-footer">
                                    <h3><%=team.city%>&nbsp;<%=team.name%></h3>
                                </div>
                            </div>
                        <% } %>
                    <% });%>
                <% });%>
                </div>
            </main>
        </div>
    </div>
    
  
</div>

<% include partials/footer %>