<% include partials/header %>
<header>
        <h1>2017 NFC Leaders</h1>
    </header>
<div class="ui container">
    
    <div class="ui stackable grid">
        <div class="five wide column">
            <aside>
                <div class="ui sub header">Team</div>
                <select class="ui fluid search dropdown" id="team-filter" name="teams">
                <option value="all">All teams</option>
                <% teams.forEach(function(team){ %>
                    <option value="<%=team._id%>"><%=team.city%>&nbsp;<%=team.name%></option> 
                <% });%>
                </select>
                <div id="position-filter" class="ui form">
                    <div class="grouped fields">
                        <label for="position">Position</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" checked value="all" tabindex="0" class="hidden">
                                <label>ALL</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" value="QB" tabindex="0" class="hidden">
                                <label>QB</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" value="RB" tabindex="0" class="hidden">
                                <label>RB</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" value="WR" tabindex="0" class="hidden">
                                <label>WR</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="position" value="TE" tabindex="0" class="hidden">
                                <label>TE</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="probowl-filter"class="ui toggle checkbox">
                    <input type="checkbox" name="proBowl">
                    <label>PRO BOWL</label>
                </div>
            </aside>
        </div>
        <div class="eleven wide column">
            <main id="team-list">
                <div class="ui cards">
                    <% players.forEach(function(player){ %>
                    <div class="card">
                        <div class="content">
                            <div class="header"><%=player.firstName%>&nbsp;<%=player.lastName%></div>
                            <div class="meta">
                                <% teams.forEach(function(team){ %>
                                    <% if(team._id === player.team_id) { %>
                                        <%=team.name%>
                                    <% } %>
                                <% });%>
                            </div>
                        </div>
                    </div>
                    <% });%>
                </div>
            </main>
        </div>
    </div>
    
  
</div>

<% include partials/footer %>